body
{
    margin: 0px;
}
#chuc
{
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
#anh
{
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
#chuc button
{
    width: 105px;
    height: 35px;
    border-radius: 10px;
    background-color: pink;
}
#anh button
{
    width: 110px;
    height: 35px;
    border-radius: 10px;
    background-color: pink;
}
#hinh 
{
    margin-top: 100px;
    text-align: center;
}
h1
{
    text-align: center;
    line-height: 800px;
    margin-right:320px;
    color: rgb(230, 115, 134);
}
h2
{
    margin-left: 350px;
    margin-top: 300px;
    text-align: center;
    color: rgb(188, 30, 114);
    float: left;
}
#av img {
    width: 200px;
    height: 200px;
    border: 1px #d4d4d4 solid;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin-top: 290px;
    margin-left: 200px;
    float: left;
    justify-content: center;
}
#imge
{
    width: 30%;
    margin-top: 100px;
    float: right;
    margin-right: 80px;
}
#imge img
{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-left: 10px;
}